/* CSS */
* {
			font-family: "Helvetica Neue";
		}

p, text {
	font-size: 0.85em;
}

svg {
	background: #f1f1f1;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 60px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 3px solid black;
  border-radius: 12px;
  pointer-events: none;
}

.slider {
	background: url('../img/grid.png') -25px -25px;
  position: relative;
  top: 0px;
  left: 0px;
  height: 60px;
  position: relative;
  width: 60%;
  transform: translate(0px, 100px);
}

/*progress bar*/
.slider > .progress{
	background: #14aaf6;
	border: 3px solid white;
	box-shadow: 1px 1px 3px 0px #ccc;
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
	height: 40%;
	top: 25%;
	width: 100%;
}

/* background */
.slider > .emptyprogress{ 
	background: #97d9fb;
	border: 3px solid white;
	box-shadow: 1px 1px 3px 0px #ccc;
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
	height: 40%;
	top: 25%;
	width: 100%;
}

.slider > .indicator{
	background: url('../img/pointer.png') no-repeat;
	cursor: move;
	position: absolute;
	margin: 8px auto auto -30px;
	left: 100%;
	height: 100%;
	width: 60px;
}