/* CSS */
* {
			font-family: "Raleway";
      /*color: #579E38;*/
		}
svg {width: 100%; height: auto;}
p, text {
	font-size: 0.85em;
}

svg {
	background: none;
}

.axis { font: 14px sans-serif; }

div.tooltip {
  position: absolute;
  text-align: left;
  width: 200px;
  height: 60px;
  padding: 2px;
  font: 12px sans-serif;
  background: ;
  border: 0px solid black;
  box-shadow: 5px 10px 20px grey;
  border-radius: 6px;
  pointer-events: none;
  stroke-width: 1px;
}
div.tooltip:hover {
  visibility: visible
}
.btn-search {
  background: #70B207;
}


/*simple slider*/
.ticks {
  font: 10px sans-serif;
}

/*body {
  background-color: pink;
}*/

.track,
.track-inset,
.track-overlay {
  /*stroke-linecap: round;*/
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 5px;
}

.track-inset {
  stroke: #379392;
  stroke-width: 3px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: white;
  stroke: #379392;
  stroke-opacity: 0.9;
  stroke-width: 3px;
}
