/* CSS */
* {
			font-family: "Helvetica Neue";
		}

p, text {
	font-size: 0.85em;
}

svg {
	background: #f1f1f1;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: 200px;
  height: 60px;
  padding: 2px;
  font: 12px sans-serif;
  background: ;
  border: 0px solid black;
  box-shadow: 5px 10px 20px grey;
  border-radius: 6px;
  pointer-events: none;
  stroke-width: 1px;
}
div.tooltip:hover {
  visibility: visible
}
.btn-search {
  background: #70B207;
}

/*
.slider {
	background: url('../img/grid.png') -25px -25px;
  position: relative;
  top: 0px;
  left: 0px;
  height: 60px;
  position: relative;
  width: 60%;
  transform: translate(0px, 100px);
}

.slider > .progress{
	background: #14aaf6;
	border: 3px solid white;
	box-shadow: 1px 1px 3px 0px #ccc;
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
	height: 40%;
	top: 25%;
	width: 100%;
}

.slider > .emptyprogress{ 
	background: #97d9fb;
	border: 3px solid white;
	box-shadow: 1px 1px 3px 0px #ccc;
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
	height: 40%;
	top: 25%;
	width: 100%;
}

.slider > .indicator{
	background: url('../img/pointer.png') no-repeat;
	cursor: move;
	position: absolute;
	margin: 8px auto auto -30px;
	left: 100%;
	height: 100%;
	width: 60px;
}*/

/*simple slider*/
.ticks {
  font: 10px sans-serif;
}

/*body {
  background-color: pink;
}*/

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}